include *.md
include *.txt
recursive-include botality *.py

exclude *.log
exclude *.cfg
recursive-exclude botality __pycache__
recursive-exclude botality *.py[co]
recursive-exclude botality *.so
recursive-exclude botality .DS_Store
